/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Debug class*/
.debug{
    border: 1px solid red;
}

/*Colors:
Light blue: #255ce8
Black button: #222629
Light grey: #f5f5f5
Blue button: #7187d9*/

/*Container*/

.conatiner-normal{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}

/*Flex*/
.display-flex{
    display:flex;
}

.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}




:root{
    --Light-blue: #255ce8;
    --Black-button:#222629;
    --Light-grey:#f5f5f5;
    --Blue-button:#7187d9;
}

body{
    padding: 0 10px;
    font-family: 'Whitney', sans-serif;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
}

header ul li a{
    color: white;
    padding: 6px 10px;
    text-decoration: none;
}

ul{
    list-style: none;
}
.hero{
    display:flex;
    height: 23px;
    margin-left: 25%;
    margin-right: 25%;
}

.h-main{
    height: 23px;
}

.sez1main{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.images{
    padding-right: 60%;
}
.place{
    padding-right: 100%;
}
.meet{
    padding-right: 40%;
}

.btn{
    display: inline-block;
    padding: 9px 16px;
    border-radius: 27px;
    background-color: white;
    color: var(--Black-button);
    text-decoration: none;
}

/*Backgrounds*/
.bg-blue{
    background-color: var(--Light-blue);
}
.background-odd-main-layers{
    background-color: var(--Light-grey);
}
.background-footer{
    background-color: var(--Black-button);
}
#logo{
    padding-left: 8%;
}
#accedi{
    padding-right: 8%;
}


.whitney-normal{
    font-family: 'Whitney', sans-serif;
}

.whitney-semibold{
    font-family: 'Whitney Semibold', sans-serif;
}

.whitney-book{
    font-family: 'Whitney Book', sans-serif;
}

.whitney-light{
    font-family: 'Whitney Light', sans-serif;
}
