/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug class*/
.debug{
    border: 1px solid red;
}

/*Colors:
Light blue: #255ce8
Black button: #222629
Light grey: #f5f5f5
Blue button: #7187d9*/

.white{
    color: white;
}
/*Variables*/
:root{
    --Light-blue: #255ce8;
    --Black-button:#222629;
    --Light-grey:#f5f5f5;
    --Blue-button:#7187d9;
}

/*Container*/
.container-normal{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}
.container-small{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/*Font*/
.whitney-normal{
    font-family: 'Whitney', sans-serif;
}
.whitney-semibold{
    font-family: 'Whitney Semibold', sans-serif;
}
.whitney-book{
    font-family: 'Whitney Book', sans-serif;
}
.whitney-light{
    font-family: 'Whitney Light', sans-serif;
}

/*Flex*/
.display-flex{
    display:flex;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.row-reverse{
    flex-direction: row-reverse;
}
.align-self-flex-start{
    align-self: flex-start;
}

/*ID Classes*/
#hero{
    background-image: url(../img/jumbo.png);
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section{
    padding-top: 40px;
    padding-bottom: 40px;
}

/*Selectors*/
body{
    padding: 0 10px;
    font-family: 'Whitney Semibold', sans-serif;
    font-size: 18px;
}

header ul li a{
    color: white;
    padding: 6px 10px;
    text-decoration: none;
}

h1{
    padding-bottom: 30px;
    font-size: 3em;
}
div p{
    padding-bottom: 10px;
}
div h1,p{
    color: black;
}
ul{
    list-style: none;
}

/*Backgrounds*/
.bg-blue{
    background-color: var(--Light-blue);
}
.background-odd-main-layers{
    background-color: var(--Light-grey);
}
.background-footer{
    background-color: var(--Black-button);
}

/*Other classes*/
/*Buttons*/
.btn{
    display: inline-block;
    padding: 9px 16px;
    border-radius: 27px;
    text-decoration: none;
}
.btn-wht{
    background-color: white;
    color: var(--Black-button);
}
.btn-blck{
    background-color: var(--Black-button);
    color: white;
}

/*Padding:*/
.padding-top-20px{
    padding-top: 20px;
}

.padding-right-30px{
    padding-right: 30px;
}

.padding-left-30px{
    padding-left: 30px;
}